﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="menu.aspx.cs" Inherits="finalProject.menu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

     <asp:SqlDataSource runat="server" id="menupage"
       ConnectionString="<%$ ConnectionStrings:my_database %>">
    </asp:SqlDataSource>


    <ul class="nav-bar" id="nav_menu" runat="server">

    </ul>

</asp:Content>
