﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="page1.aspx.cs" Inherits="finalProject.W3School" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Manage Pages</h2>


    <asp:SqlDataSource runat="server" id="classes_select"
       ConnectionString="<%$ ConnectionStrings:my_database %>">
    </asp:SqlDataSource>
  

    <asp:DataGrid id="classes_list"
        runat="server" >
    </asp:DataGrid>

    <asp:Button runat="server" Text="add page" OnClick="addbutton"/>

    
</asp:Content>
